# URI for node websockets connection
URI = localhost:26657
# chain id
CHAIN_ID=layer-testnet-3
# Up to 3 discord webhooks for sending alerts
DISCORD_WEBHOOK_URL_1=""
DISCORD_WEBHOOK_URL_2=""
DISCORD_WEBHOOK_URL_3=""
# Maximum number of rows to store in reports tables
MAX_TABLE_ROWS=1000000
